<!DOCTYPE html>
<html>
<head>
<title>Hello from Flask</title>
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=geometry"></script>
<script type="text/javascript">		
	 var directionsDisplay;
	 var ucab = new google.maps.LatLng(8.296789, -62.711243);
     
      var locations = []; //DEFINIR LAS PARADAS
      function mostrargeo(){
		n = {{ canthijos }}; //cantidad de registros
		var migeo = {{ results|tojson }}
		for (i=0;i<n;i++){//cargar localizaciones
			locations.push ( {name:migeo[i][0], LatLng: new google.maps.LatLng(migeo[i][1], migeo[i][2])} );
			console.log(migeo[i])}

     }

      function initialize() {
		mostrargeo();
        directionsDisplay = new google.maps.DirectionsRenderer();
        var mapDiv = document.getElementById("map_canvas");
        var mapOptions = {
          zoom: 20,
          center: ucab,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(mapDiv, mapOptions);
        directionsDisplay.setMap(map);



         for(var i=0;i<locations.length;i++){
          var marker = new google.maps.Marker({
            position: locations[i].LatLng,
            map:map,
            zoom: 4,
            title:String(locations[i].name)
   
         
          });
         }
       }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
</head>
 <body onload="initialize();">
{% if results %}
	   <div id="map_canvas" style="width:80%; height:80%;">
		</div>
{% else %}
  <h1>Hello World!</h1>
{% endif %}
</body>
</html>
